* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background: rgb(233, 233, 233);
}
.container {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  transform-style: preserve-3d;
  min-height: 65vh;
  width: 30rem;
  border-radius: 35px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}
.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.75),
    rgba(255, 255, 255, 0.75));
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
.airpods {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.airpods img {
  width: 20rem;
  z-index: 2;
  transition: all 0.15s ease-out;
}
.info h1 {
  font-size: 3rem;
  text-align: center;
}
.info h3 {
  font-size: 1.1rem;
  padding: 1rem 0rem;
  font-weight: lighter;
  text-align: center;
  color: #585858;
}
.purchase {
  margin-top: 5rem;
}
.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background: #242424;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}
.purchase button:hover{
  background: #383;
}
